.advantage {
    padding: 69px 0 81px 0;
    min-height: 473px;
    background-color: #f6f6f6;
    &__wrapper{
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__practice{
        img {
            display: block;
            margin: 0 auto;
        }
    }
    &__header {
        margin-top: 30px;
        font-size: 18px;
        text-align: center;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__sunheader{
        width: 245px;
        margin-top: 36px;
        font-size: 14px;
        line-height: 18px;
        font-weight: 300;
        color: #0d0d0d;
        text-align: center;
        a {
            text-decoration: underline;
            color: #ff0000;
        }
    }
    &__icon {
        &_animated {
            animation: hearbeat 2s ease infinite;
            // animation-name: hearbeat;
            // animation-duration: 2s;
            // animation-timing-function: ease;
            // animation-iteration-count: infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
    
   

}